.slider-container {
  // margin-top: 100px;
  width: 100%;
  height: 100vh;
  // padding: 50px 0;
  background-color: $white;
  position: relative;
  z-index: 1;
  .slide-bg {
    // margin-top: 35px;

    .gunung {
      position: absolute;
      // background-color: red;
      width: 100%;
      // height: 100vh;
      bottom: -2px;
      // object-fit: cover;
    }
    .matahari {
      width: 10%;
      position: absolute;
      left: 55vw;
      top: 25vh;
    }
    .balon-udara {
      width: 10%;
      position: absolute;
      left: 80vw;
      top: 20vh;
    }
  }
  .absolute-content {
    position: absolute;
    z-index: 2;
    top: -15%;
    left: -10%;
    right: 0;
    bottom: 0;
    align-items: center;
    // .slider-text {
    // button {
    //   padding: 5px 15px;
    //   background-color: $primary-color;
    //   border: none;
    //   outline: none;
    //   border-radius: 5px;
    //   color: $white;
    // }
    // }
  }
}
