.slider-container {
  width: 100%;
  height: 100vh;
  background-color: $white;
  position: relative;
  z-index: 1;
  .slide-bg {
    .gunung {
      position: absolute;
      width: 100%;
      bottom: -2px;
    }
    .matahari {
      width: 20%;
      position: absolute;
      left: 55vw;
      top: 25vh;
    }
    .balon-udara {
      width: 10%;
      position: absolute;
      left: 80vw;
      top: 20vh;
    }
  }
  .absolute-content {
    position: absolute;
    z-index: 2;
    top: 45%;
    left: 0;
    right: 0;
    text-align: center;
    // .slider-text {
    // button {
    //   padding: 5px 15px;
    //   background-color: $primary-color;
    //   border: none;
    //   outline: none;
    //   border-radius: 5px;
    //   color: $white;
    // }
    // }
  }
} 
@media screen and (min-width: 500px) {
  .slider-container {
    width: 100%;
    height: 100vh;
    background-color: $white;
    position: relative;
    z-index: 1;
    .slide-bg {
      .gunung {
        position: absolute;
        width: 100%;
        bottom: -2px;
      }
      .matahari {
        width: 10%;
        position: absolute;
        left: 55vw;
        top: 25vh;
      }
      .balon-udara {
        width: 10%;
        position: absolute;
        left: 80vw;
        top: 20vh;
      }
    }
    .absolute-content {
        top: 30%;
        left: 10%;
        text-align: left;
      // left: -10%;
    }
  } 
}

