$white: #fff;
$black: #3f3d56;
$link-active: #8f88ff;
$primary-color: #121d50;
$danger-color: #e22323;

// body {
// background-color: #eaeaea;
// background-color: salmon;
// }

body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Organisims
@import "components/organisims/headers/navbar.scss";
@import "components/organisims/sliders/sliders.scss";
@import "components/organisims/latest-project/image-grid.scss";
@import "components/organisims/experience/experience.scss";
@import "components/templates/about/about.scss";
// Atoms
@import "components/atoms/links/links.scss";
@import "components/atoms/tags/tags.scss";
@import "components/atoms/label/label.scss";

// molecules
@import "components/molecules/tabs/tabs.scss";

// harus selalu dibawah
@import "generals.scss";
