$white: #fff;
$black: #3f3d56;
$link-active: #8f88ff;
$primary-color: #6c63ff;

body {
  background-color: #eaeaea;
}

// Organisims
@import "components/organisims/headers/navbar.scss";
@import "components/organisims/sliders/sliders.scss";
@import "components/organisims/latest-project/image-grid.scss";
@import "components/organisims/experience/experience.scss";
// Atoms
@import "components/atoms/links/links.scss";
@import "components/atoms/tags/tags.scss";
@import "components/atoms/label/label.scss";

// harus selalu dibawah
@import "generals.scss";
