/* @import url('https://fonts.cdnfonts.com/css/caros-soft?styles=51649,51653,51656,51652,51650'); */

body, * {
  color: #0B2A3B;
}

.grid_1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  
  /* grid-template-areas: "header main footer"; */
}

/* ._grid_item1 {
  grid-area: header;
}
._grid_item2 {
  grid-area: main;
}
._grid_item3 {
  grid-area: footer;
} */